In [37]:
import pandas as pd
import numpy as np

In [38]:
file_path= "GSAF5.csv"

In [39]:
sharks_df = pd.read_csv(file_path)

In [40]:
#Already cleaned before uploaded:
#Deleted approx 60k empty rows.
#Converted values from str to num for year and age columns.

In [41]:
#There are 15 columns and 6940 rows.
sharks_df.shape

(6940, 15)

In [42]:
#Percentage of rows missing data per column.
sharks_df.isna().sum()/len(sharks_df)*100

Date         0.000000
Year         0.028818
Type         0.259366
Country      0.720461
State        6.945245
Location     8.141210
Activity     8.429395
Name         3.155620
Sex          8.342939
Age         43.126801
Injury       0.504323
Fatal        8.083573
Time        50.792507
Species     45.129683
Source       0.273775
dtype: float64

In [43]:
display(sharks_df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Source
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024"
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,Shoulder bitten,N,06h30,Blacktip reef shark,"Trinidad Guardian, 2/11/2014"
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,Right leg bitten,N,20h00,Bull shark,"Nine News, 12/31/2024"
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,Right leg injured,N,16h00,NaN,"Caribbean Loop News, 1/15;2024"
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,Leg bitten,N,13h00,White shark,"A. Currie, GSAF"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6935,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
6936,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
6937,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
6938,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938"
6939,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker

In [44]:
#Cleaning the "Year" column and converting to object
sharks_df["Year"] = sharks_df["Year"].fillna("UNKNOWN")  # Fill all empty cells with "UNKNOWN"
sharks_df["Year"] = sharks_df["Year"].astype(str)  # Convert the column to string type

In [55]:
#Cleaning the "Fatal" column and converting to object
sharks_df["Fatal"] = sharks_df["Fatal"].fillna("UNKNOWN")  # Fill all empty cells with "UNKNOWN"
sharks_df["Fatal"] = sharks_df["Fatal"].replace({"M":"UNKNOWN","F":"UNKNOWN","Nq":"UNKNOWN","2017":"UNKNOWN",
                                                  "Y x 2":"UNKNOWN"," N":"N","N ":"N","y":"Y","n":"N"})

In [45]:
#Cleaning "Sex" column
sharks_df["Sex"] = sharks_df["Sex"].fillna("UNKNOWN") 
sharks_df["Sex"]=sharks_df["Sex"].replace({"Unknown":"UNKNOWN","lli":"UNKNOWN",
                                           "M x 2":"UNKNOWN","N":"UNKNOWN",
                                           ".":"UNKNOWN"," M":"M", 
                                           "M ":"M"})

In [46]:
#Cleaning "Type" column
sharks_df["Type"] = sharks_df["Type"].fillna("UNKNOWN") 
sharks_df["Type"]=sharks_df["Type"].replace({" Provoked":"Provoked","Boat":"Watercraft",
                                             "Sea Disaster":"Disaster","nan":"UNKNOWN","?":"UNKNOWN",
                                             "Unconfirmed":"UNKNOWN","Unverified":"UNKNOWN","Invalid":"UNKNOWN",
                                             "Under investigation":"UNKNOWN"})

In [47]:
#Cleaning "Country" column
sharks_df["Country"] = sharks_df["Country"].fillna("UNKNOWN") #Fill all empty cells with "UNKNOWN"
sharks_df["Country"] = sharks_df["Country"].str.strip() #remove all spaces
#Map all values to the correct country in uppercase or to UNKNOWN if not a coutnry.
sharks_df["Country"] = sharks_df["Country"].replace({
    'INDIA': 'INDIA',
    'TRINIDAD': 'TRINIDAD & TOBAGO',
    'AUSTRALIA': 'AUSTRALIA',
    'BAHAMAS': 'BAHAMAS',
    'SOUTH AFRICA': 'SOUTH AFRICA',
    'USA': 'USA',
    'MEXICO': 'MEXICO',
    'NEW ZEALAND': 'NEW ZEALAND',
    'EGYPT': 'EGYPT',
    'Mexico': 'MEXICO',
    'BELIZE': 'BELIZE',
    'PHILIPPINES': 'PHILIPPINES',
    'Coral Sea': 'UKNOWN',
    'SPAIN': 'SPAIN',
    'PORTUGAL': 'PORTUGAL',
    'SAMOA': 'SAMOA',
    'COLOMBIA': 'COLOMBIA',
    'ECUADOR': 'ECUADOR',
    'FRENCH POLYNESIA': 'FRENCH POLYNESIA',
    'NEW CALEDONIA': 'NEW CALEDONIA',
    'TURKS and CaICOS': 'TURKS & CAICOS',
    'CUBA': 'CUBA',
    'BRAZIL': 'BRAZIL',
    'SEYCHELLES': 'SEYCHELLES',
    'ARGENTINA': 'ARGENTINA',
    'FIJI': 'FIJI',
    'MeXICO': 'MEXICO',
    'Maldives': 'MALDIVES',
    'ENGLAND': 'ENGLAND',
    'JAPAN': 'JAPAN',
    'INDONESIA': 'INDONESIA',
    'JAMAICA': 'JAMAICA',
    'MALDIVES': 'MALDIVES',
    'THAILAND': 'THAILAND',
    'COLUMBIA': 'COLOMBIA',
    'COSTA RICA': 'COSTA RICA',
    'New Zealand': 'NEW ZEALAND',
    'British Overseas Territory': 'UKNOWN',
    'CANADA': 'CANADA',
    'JORDAN': 'JORDAN',
    'ST KITTS / NEVIS': 'NEVIS',
    'ST MARTIN': 'ST MARTIN',
    'PAPUA NEW GUINEA': 'PAPUA NEW GUINEA',
    'REUNION ISLAND': 'REUNION',
    'ISRAEL': 'ISRAEL',
    'CHINA': 'CHINA',
    'IRELAND': 'IRELAND',
    'ITALY': 'ITALY',
    'MALAYSIA': 'MALAYSIA',
    'LIBYA': 'LIBYA',
    'nan': 'UKNOWN',
    'MAURITIUS': 'MAURITIUS',
    'SOLOMON ISLANDS': 'SOLOMON ISLANDS',
    'ST HELENA, British overseas territory': 'ST HELENA',
    'COMOROS': 'COMOROS',
    'REUNION': 'REUNION',
    'UNITED KINGDOM': 'UNITED KINGDOM',
    'UNITED ARAB EMIRATES': 'UNITED ARAB EMIRATES (UAE)',
    'CAPE VERDE': 'CAPE VERDE',
    'DOMINICAN REPUBLIC': 'DOMINICAN REPUBLIC',
    'CAYMAN ISLANDS': 'CAYMAN ISLANDS',
    'ARUBA': 'ARUBA',
    'MOZAMBIQUE': 'MOZAMBIQUE',
    'PUERTO RICO': 'PUERTO RICO',
    'ATLANTIC OCEAN': 'UKNOWN',
    'GREECE': 'GREECE',
    'ST. MARTIN': 'ST MARTIN',
    'FRANCE': 'FRANCE',
    'TRINIDAD & TOBAGO': 'TRINIDAD & TOBAGO',
    'KIRIBATI': 'KIRIBATI',
    'DIEGO GARCIA': 'DIEGO GARCIA',
    'TAIWAN': 'TAIWAN',
    'PALESTINIAN TERRITORIES': 'PALESTINIAN TERRITORIES',
    'GUAM': 'GUAM',
    'NIGERIA': 'NIGERIA',
    'TONGA': 'TONGA',
    'SCOTLAND': 'SCOTLAND',
    'CROATIA': 'CROATIA',
    'SAUDI ARABIA': 'SAUDI ARABIA',
    'CHILE': 'CHILE',
    'ANTIGUA': 'ANTIGUA',
    'KENYA': 'KENYA',
    'RUSSIA': 'RUSSIA',
    'TURKS & CAICOS': 'TURKS & CAICOS',
    'UNITED ARAB EMIRATES (UAE)': 'UNITED ARAB EMIRATES (UAE)',
    'AZORES': 'AZORES',
    'SOUTH KOREA': 'SOUTH KOREA',
    'MALTA': 'MALTA',
    'VIETNAM': 'VIETNAM',
    'MADAGASCAR': 'MADAGASCAR',
    'PANAMA': 'PANAMA',
    'SOMALIA': 'SOMALIA',
    'NEVIS': 'NEVIS',
    'BRITISH VIRGIN ISLANDS': 'BRITISH VIRGIN ISLANDS',
    'NORWAY': 'NORWAY',
    'SENEGAL': 'SENEGAL',
    'YEMEN': 'YEMEN',
    'GULF OF ADEN': 'UKNOWN',
    'Sierra Leone': 'SIERRA LEONE',
    'ST. MAARTIN': 'ST MARTIN',
    'GRAND CAYMAN': 'GRAND CAYMAN',
    'Seychelles': 'SEYCHELLES',
    'LIBERIA': 'LIBERIA',
    'VANUATU': 'VANUATU',
    'HONDURAS': 'HONDURAS',
    'VENEZUELA': 'VENEZUELA',
    'SRI LANKA': 'SRI LANKA',
    'URUGUAY': 'URUGUAY',
    'MICRONESIA': 'MICRONESIA',
    'CARIBBEAN SEA': 'UKNOWN',
    'OKINAWA': 'JAPAN',
    'TANZANIA': 'TANZANIA',
    'MARSHALL ISLANDS': 'MARSHALL ISLANDS',
    'EGYPT / ISRAEL': 'UKNOWN',
    'NORTHERN ARABIAN SEA': 'UKNOWN',
    'HONG KONG': 'HONG KONG',
    'EL SALVADOR': 'EL SALVADOR',
    'ANGOLA': 'ANGOLA',
    'BERMUDA': 'BERMUDA',
    'MONTENEGRO': 'MONTENEGRO',
    'IRAN': 'IRAN',
    'TUNISIA': 'TUNISIA',
    'NAMIBIA': 'NAMIBIA',
    'NORTH ATLANTIC OCEAN': 'UKNOWN',
    'SOUTH CHINA SEA': 'UKNOWN',
    'BANGLADESH': 'BANGLADESH',
    'PALAU': 'PALAU',
    'WESTERN SAMOA': 'WESTERN SAMOA',
    'PACIFIC OCEAN': 'UKNOWN',
    'BRITISH ISLES': 'BRITISH ISLES',
    'GRENADA': 'GRENADA',
    'IRAQ': 'IRAQ',
    'TURKEY': 'TURKEY',
    'SINGAPORE': 'SINGAPORE',
    'NEW BRITAIN': 'UKNOWN',
    'SUDAN': 'SUDAN',
    'JOHNSTON ISLAND': 'JOHNSTON ISLAND',
    'SOUTH PACIFIC OCEAN': 'UKNOWN',
    'NEW GUINEA': 'NEW GUINEA',
    'RED SEA': 'UKNOWN',
    'NORTH PACIFIC OCEAN': 'UKNOWN',
    'FEDERATED STATES OF MICRONESIA': 'MICRONESIA',
    'MID ATLANTIC OCEAN': 'UKNOWN',
    'ADMIRALTY ISLANDS': 'ADMIRALTY ISLANDS',
    'BRITISH WEST INDIES': 'UNKNOWN',
    'SOUTH ATLANTIC OCEAN': 'UKNOWN',
    'PERSIAN GULF': 'UKNOWN',
    'RED SEA / INDIAN OCEAN': 'UKNOWN',
    'NORTH SEA': 'UKNOWN',
    'NICARAGUA': 'NICARAGUA',
    'MALDIVE ISLANDS': 'MALDIVES',
    'AMERICAN SAMOA': 'AMERICAN SAMOA',
    'ANDAMAN / NICOBAR ISLANDAS': 'UKNOWN',
    'GABON': 'GABON',
    'MAYOTTE': 'MAYOTTE',
    'THE BALKANS': 'UKNOWN',
    'SUDAN?': 'SUDAN',
    'MARTINIQUE': 'MARTINIQUE',
    'INDIAN OCEAN': 'UKNOWN',
    'GUATEMALA': 'GUATEMALA',
    'NETHERLANDS ANTILLES': 'UKNOWN',
    'NORTHERN MARIANA ISLANDS': 'NORTHERN MARIANA ISLANDS',
    'IRAN / IRAQ': 'UKNOWN',
    'JAVA': 'JAVA',
    'SIERRA LEONE': 'SIERRA LEONE',
    'CENTRAL PACIFIC': 'UKNOWN',
    'SOLOMON ISLANDS / VANUATU': 'UKNOWN',
    'SOUTHWEST PACIFIC OCEAN': 'UKNOWN',
    'BAY OF BENGAL': 'UKNOWN',
    'MID-PACIFC OCEAN': 'UKNOWN',
    'SLOVENIA': 'SLOVENIA',
    'CURACAO': 'CURACAO',
    'ICELAND': 'ICELAND',
    'ITALY / CROATIA': 'UKNOWN',
    'BARBADOS': 'BARBADOS',
    'MONACO': 'MONACO',
    'GUYANA': 'GUYANA',
    'HAITI': 'HAITI',
    'SAN DOMINGO': 'UKNOWN',
    'KUWAIT': 'KUWAIT',
    'FALKLAND ISLANDS': 'FALKLAND ISLANDS',
    'CRETE': 'CRETE',
    'CYPRUS': 'CYPRUS',
    'WEST INDIES': 'WEST INDIES',
    'BURMA': 'BURMA',
    'LEBANON': 'LEBANON',
    'PARAGUAY': 'PARAGUAY',
    'BRITISH NEW GUINEA': 'UKNOWN',
    'CEYLON': 'SRI LANKA',
    'OCEAN': 'UKNOWN',
    'GEORGIA': 'GEORGIA',
    'SYRIA': 'SYRIA',
    'TUVALU': 'TUVALU',
    'INDIAN OCEAN?': 'UKNOWN',
    'GUINEA': 'GUINEA',
    'ANDAMAN ISLANDS': 'ANDAMAN ISLANDS',
    'EQUATORIAL GUINEA / CAMEROON': 'UKNOWN',
    'COOK ISLANDS': 'COOK ISLANDS',
    'TOBAGO': 'TOBAGO',
    'PERU': 'PERU',
    'AFRICA': 'UKNOWN',
    'ALGERIA': 'ALGERIA',
    'Coast of AFRICA': 'UKNOWN',
    'TASMAN SEA': 'UKNOWN',
    'GHANA': 'GHANA',
    'GREENLAND': 'GREENLAND',
    'MEDITERRANEAN SEA': 'UKNOWN',
    'SWEDEN': 'SWEDEN',
    'ROATAN': 'ROATAN',
    'Between PORTUGAL & INDIA': 'UKNOWN',
    'DJIBOUTI': 'DJIBOUTI',
    'BAHREIN': 'BAHREIN',
    'KOREA': 'KOREA',
    'RED SEA?': 'UKNOWN',
    'ASIA?': 'UKNOWN',
    'CEYLON (SRI LANKA)': 'SRI LANKA',
    'nan':"UNKNOWN"
})
sharks_df["Country"] = sharks_df["Country"].str.upper()

In [49]:
# Cleaning the "Time" column
sharks_df['Time'] = sharks_df['Time'].astype(str)

# Convert to standard format
sharks_df['Time'] = sharks_df['Time'].str.replace('h', ':').str.replace('j', ':')
sharks_df['Time'] = pd.to_datetime(sharks_df['Time'], errors='coerce')

# Convert to only time with no date
sharks_df['Time'] = sharks_df['Time'].dt.time

# Handle qualitative descriptions
time_ranges = {
    'Early Morning': "UNKNOWN",
    'Morning': "UNKNOWN",
    'Afternoon': "UNKNOWN",
    'Evening': "UNKNOWN",
    'Night': "UNKNOWN",
    # Add more mappings as needed
}

# Handle missing or invalid data
sharks_df["Time"] = sharks_df["Time"].fillna("UNKNOWN")

In [56]:
unique_times = sharks_df['Fatal'].unique()
print(unique_times)

['N' 'Y' 'UNKNOWN']

In [ ]:
# Printing unique values for country and sorting alphabetically to spot final issues
def print_unique_values(dataframe, columns):
    for column in columns:
        unique_values = dataframe[column].unique()
        unique_values = [str(value) for value in unique_values]  # Convert all values to strings
        unique_values.sort()
        print(column + ":")
        for value in unique_values:
            print(value)
print_unique_values(sharks_df, ["Country"])

In [ ]:
for column in sharks_df.columns:
    unique_values = sharks_df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

In [58]:
#Percentage of rows missing data per column.
sharks_df.isna().sum()/len(sharks_df)*100

Date         0.000000
Year         0.000000
Type         0.000000
Country      0.000000
State        6.945245
Location     8.141210
Activity     8.429395
Name         3.155620
Sex          0.000000
Age         43.126801
Injury       0.504323
Fatal        0.000000
Time         0.000000
Species     45.129683
Source       0.273775
dtype: float64

In [ ]:
unique_times = sharks_df['Species'].unique()
print(unique_times)

["Bull shark, 7'" 'Blacktip reef shark' 'Bull shark' ... "12' tiger shark"
 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']

date - not cleaned - might be good to extract month if possible
year - not cleaned
age - not cleaned
name - not cleaned /not needed?
fatal - not cleaned (darcee)
state- not cleaned
location - not cleaned
activity - not cleaned
injury - not cleaned
species - not cleaned
type - cleaned
country - cleaned
year - cleaned
sex - cleaned
time - maybe cleaned